.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  gap: 5px;
  background: rgb(0,128,105);
  color: white;
  border: none;
  transition: 0.2s;
}

.button:active {
  scale: 0.95;
}

.button:disabled {
  background: gray;
}