.resumo_compra {
  width: 90%;

  .summary {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    border: 0px solid rgb(0, 128, 105);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--box-shadow-card);

    .title {
      display: flex;
      flex-direction: column;
      background: var(--primary);
      color: white;
      width: 100%;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: .4rem;
    }
    li {
      list-style: none;
      padding: 0 2px;
    }
  }

  .alerts {
    display: flex;
    gap: 0.5rem;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    color: rgb(245, 159, 11);
    border-left: 2px solid rgb(245, 159, 11);
    box-shadow: 0px 0px 1px 1px rgba(245, 159, 11, 0.1);

    .alerts_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        font-size: 1.5rem;
      }
    }

    .alerts_body {
      h1 {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
