* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(211, 49, 0);
  --max-width: 500px;
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antiaLiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg {
  font-size: 1.2rem;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

ol,
li {
  list-style: none;
}

.required {
  color: red;
  font-size: 0.8rem;
}

.error {
  border: 1px solid #ff000040;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  background: hsl(210, 40%, 96.1%);
}

main {
  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
  padding: 0.5rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: white;
}

/** Página Inicial **/
.wrapper_img {
  display: flex;
  justify-content: right;
}

.wrapper_img img {
  z-index: 1;
  width: 300px;
}

.wrapper_initial_text {
  background: var(--primary);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
  top: -25px;
  margin-bottom: -10px;
  line-height: 1.5rem;
  box-shadow: var(--box-shadow);
}

.decored_span__primary {
  color: orange;
  font-weight: bold;
  font-family: serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.decored_span__secondary {
  background: rgba(255, 255, 0, 0.2);
  border-radius: 3px;
  padding: 0px 3px 3px 3px;
}

/* fim */

/** Página dos produtos **/
.section_card-page {
  min-height: calc(100vh - 50px - 0.5rem);
}

.section_card-page__iso {
  display: flex;
  gap: 0.5rem;
  background: var(--primary);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.iso__img {
  display: flex;
  align-items: center;
}

.iso__img img {
  box-shadow: 0px 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(0.3);
}

.iso__title-p {
  color: #fafaf9;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #fff112;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-top: 2px solid var(--primary);
  border-left: 2px dashed var(--primary);
  border-right: 2px dashed var(--primary);
  border-bottom: 2px solid var(--primary);
}

.contact__phone {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.contact__phone svg {
  position: relative;
  top: 2px;
}

.products__title {
  text-align: center;
  position: relative;
}

.products__title svg {
  font-size: 2rem;
  position: relative;
  top: 3px;
}

.products__title::before {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0;
  background: black;
  width: 45%;
  height: 2px;
  border-radius: 2px;
  transition: 0.2s;
}

.products__title:hover::before {
  width: 100%;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.product__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 90%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  border-radius: 3px;
  padding: 0.4rem;
}

.product__card img {
  width: 200px;
}

.product__card--quantidade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 200px;
  font-family: monospace;
}

.product__card--quantidade svg {
  background: var(--primary);
  padding: 5px;
  border-radius: 5px;
  font-size: 2.1rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: rgba(46, 61, 82, 0.95);
  width: 90%;
}

input,
select,
textarea {
  border: 0px solid #ccc;
  border-radius: 8px;
  background: hsl(214, 31.8%, 97%);
  font-family: inherit;
  outline: none;
  padding: 12px 16px;
  resize: none;
  color: hsl(240, 5.9%, 20%);
}

textarea {
  height: 150px;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.7;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  gap: 5px;
  background: #008069;
  color: white;
  border: none;
  transition: 0.2s;
}

.button:active {
  scale: 0.95;
}

button:disabled {
  background: gray;
}

.total_price {
  font-size: 1.4rem;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 90%;
  text-align: center;
  background: #c4f2cb;
  color: green;
}

#gas-form button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  gap: 5px;
  background: #008069;
  color: white;
  border: none;
}

@media (min-width: 501px) {
  :root {
    font-size: 20px;
  }
}
